@page
@model ChangePasswordModel
@{
    
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<body id="ChangePassword">
<partial name="_StatusMessage" for="StatusMessage"/>
    <div class="row center-block">
        
            <div class="dark-overlay">
                <div class="container">
                        <div class="col-lg-4">
                            <div class="card bg-light text-center card-form">
                                <div class="card-body">
                                    <h3><b>Change your password</b></h3>
                                    <form id="change-password-form" method="post">
                                        <hr />
                                        <div class="form-group text-dark">
                                            <label asp-for="Input.OldPassword"></label>
                                            <input asp-for="Input.OldPassword" class="form-control"/>
                                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group text-dark">
                                            <label asp-for="Input.NewPassword"></label>
                                            <input asp-for="Input.NewPassword" class="form-control"/>
                                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group text-dark">
                                            <label asp-for="Input.ConfirmPassword"></label>
                                            <input asp-for="Input.ConfirmPassword" class="form-control"/>
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update password</button>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

</body>