@model IEnumerable<Domain.ImageField>
@{
    ViewData["Title"] = "Upload page";
}

<script src="@Url.Content("~/js/UploadScript.js")"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form name="form" action="/Upload" enctype="multipart/form-data" method="post">
    <input id="files" name="files" type="file" multiple onchange="fileupload('files');"/>
   
</form>
//@*<img src='@Url.Action( "show", "Upload", new { id = 19 } )' style="height:100px;width:100px;" /> *@ 

<div class="container">
    <h2>"Image list"</h2>
    @foreach (var item in Model)
    {
        var base64 = Convert.ToBase64String(item.ImageData);
       // var imageData = String.Format("data:image/png;base64,{0}", base64);
        ViewBag.imageData =String.Format("data:image/png;base64,{0}", base64);

        <img src="@ViewBag.imageData" style="height:100px;width:100px;" />
    }

</div>

