@model IEnumerable<Domain.Project>


<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" id="ProjectsCard">
                    <div class="card-header text-center">
                       
                        <h3>Projects</h3>
                    </div>
                    <table class="table text-dark">
                        <thead>
                            <tr>
                                
                                <th>Name</th>
                                <th>Description</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="col-lg-12">
                                            @Html.DisplayFor(modelItem => item.name)
                                            </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>
                                    <td>
                                       
                                        @Html.ActionLink("Questionnaires", "Questionnaires", "Questionnaire"
                                            , new { projectId=item.projectId })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Ideations", "Project", "Project"
                                            , new { id=item.projectId })

                                    </td>
                                </tr>
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>