.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 300px;
}

#myInput {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 8px;
}

#myInput[type=text] {
    width: 95%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#myInput[type=submit] {
    color: #fff;
}

.autocomplete-items {
    background: #fefefe;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    margin-left: 2.5%;
    /*position the autocomplete items to be the same width as the container:*/

    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    width: 95%;

}

.autocomplete-items div {
    background: #fefefe;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;

}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;

}