#impact {
    font-family: "Impact";
}

#trebuchet {
    font-family: "Trebuchet MS";
}

#comic {
    font-family: "Comic Sans MS";
}

#arial {
    font-family: "Arial";
}

#times {
    font-family: "Times new Roman";
}

.orange {
    background-color: orange;
}

.standard {
    background-color: #cae5ff;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}