/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

html, body {
    height: 100%;
    width: 100%;
    margin:0;
    display: table;
    
}

.fwn {
    font-weight:normal;
}

.previousButton {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.previousButton:hover {
    background-color: #ddd;
    color: black;
}

#ImageSlideshow{

}
/*site thema*/
#general-theme{
    background-image: linear-gradient(to bottom,#cae5ff,#ffffff);
    background-repeat: no-repeat;
    max-width: 100%;
}
#navbox{
}
.nav-item{
    padding-right: 5px;
    padding-left: 5px;
}
    
#AboutTitle{    
    padding-left: 35%;
}

#locationRows{
    padding-left: 10px;
}

#titleindex{
    color:black;
}

#IdeaElement{
    padding-left: 2px;
    
}

#detailImage{
    padding-bottom: 25px;
}

.wrapper {
    padding: 20px;
    height: auto;
}

.underlineText:hover {
    text-decoration: underline;
}

/*smooth scroll*/
html {
    scroll-behavior: smooth;
}

#discoverbutton{
    padding-bottom: 10px;
}

#ProjectsCard {
    background-color: #b4b4b4;

}

#rowPictures {
    padding-left: 10px;
    padding-right: 5px;
    
}

#rowPictures img {
    border-radius: 5px;
}
#projectTop{
    padding-top:25px;
}



#projects-head-section {
    background-color: #cae5ff;

    padding-top: 20px;

    width: 100%;
}


h1, h3, h4 {
    color: black;
}



footer {
    color: #000000;
    display:table-row;
    height: 1px;
    
}



.carousel-item {
    height: 340px;
}

.container body-content{
    height: 100%;
}


.textWithBlurredBg img{
    border-radius: 5px;
    width: 100%;
    height: 400px;
}   



.textWithBlurredBg{
    width: 100%;
    height :400px;
    display: inline-block;
    margin: 4px;
    position: relative;
    padding-right: 5px;
    
}

.form-inline{
    padding-bottom: 2px;
}


#projecttitlepadding{
    padding-bottom: 35px;
    padding-left: 100px;
    padding-right: 100px;
}




#projectelementpadding{
    padding-bottom: 20px;
}

.textWithBlurredBg :not(img){
    position: absolute;
    top: 10%;
    width: 90%;
    height: 30%;
    z-index: 1;
    color: white;
    text-align: center;
    opacity: 0;
    transition: .9s;
    padding-left: 27px;
}


.textWithBlurredBg h5{

    
    

}
.textWithBlurredBg h4{

    top: 90%;

}


.textWithBlurredBg:hover :not(img){
    opacity: 1;
}


.textWithBlurredBg:hover img{
    filter:blur(2px) brightness(50%);
}


.carousel-image-1 {
    background: url(/images/carousel-image1.jpg);
    background-size: cover;
}

.carousel-image-2 {
    background: url(/images/carousel-image2.jpg);
    background-size: cover;
}


.carousel-image-3 {
    background: url(/images/carousel-image3.jpg);
    background-size: cover;
}

textarea:focus, input:focus {
    color: #000000;
}

input, select, textarea {
    color: #000000;
}

#register-page{
}

#deleteCard{
    height: 100%;
}


#info-section{
    background-color: rgba(108, 245, 242, 0.42);}

#explore-section{
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    
}

#explore-section2{
    background-color: rgba(23, 0, 255, 0.58);
    padding-right: 0px;

}

.nav-item{
    padding-top: 10px;
    margin-left: 10px;
}

#titelDetail{
    padding-right: 60px;
}
#detaildesc{
    padding-right: 15px;
}


/* body {padding top & bottom aangepast background-color: #252525; background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;} */

card {
    padding-top: 10px;
}


.column {
    float: left;
    width: 33%;
    padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
}

.extraNavItem {
    cursor: pointer;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    #card {
        width: 100%;
    }
}