/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

* {
    box-sizing: border-box;
}


.carousel-item{
    height: 385px;
   
}

.carousel-image-1{
    background: url(/images/image1.jpg);
    background-size:cover;
}

.carousel-image-2 {
    background: url(/images/image2.jpg);
    background-size: cover;
}


.carousel-image-3 {
    background: url(/images/image3.jpg);
    background-size: cover;
}



body {

    
    background-image: url("../images/bgcity.jpg") ,linear-gradient(to bottom, rgba(90, 89, 89, 0.83), #000000);
    background-repeat: no-repeat;
}


/* body {padding top & bottom aangepast background-color: #252525; background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;} */





card {
    padding-top: 10px;
}


.column {
    float: left;
    width: 33%;
    padding: 2px;
}


/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

input, select, textarea { 
    color: black;
}
