@{
    ViewData["Title"] = "Overzicht";
}


<body id="projectsgeneral">
    <h2 class="text-center"><b>Onze projecten</b></h2>
    <div class="container mt-3">

        <!-- tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#ongoing">Ongoing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#closed">Closed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#recent">Recent</a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="p-5">
        <div class="tab-content">

            <div id="ongoing" class="container tab-pane active">

                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="card bg-dark text-white text-center">
                            <h5 class="text-center"><b>Park project - Wilrijk</b></h5>
                            <img src="~/images/project-flea-market.jpg" style="width:100%">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>

                            </div>
                            <div>
                                <i class="far fa-heart"></i>
                                <i class="far fa-comments"></i>
                                <i class="fas fa-share-alt"></i>


                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card bg-info text-white text-center">
                            <h5 class="text-center"><b>Straat project - Berchem</b></h5>
                            <img src="~/images/project-flea-market.jpg" style="width:100%">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%"></div>
                            </div>
                            <div>
                                <i class="far fa-heart"></i>
                                <i class="far fa-comments"></i>
                                <i class="fas fa-share-alt"></i>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-dark text-white text-center">
                            <h5 class="text-center"><b>Gebouw project - Edegem</b></h5>
                            <img src="~/images/project-flea-market.jpg" style="width:100%">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:30%"></div>
                            </div>
                            <div>
                                <i class="far fa-heart"></i>
                                <i class="far fa-comments"></i>
                                <i class="fas fa-share-alt"></i>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="card bg-info text-white text-center">
                            <h5 class="text-center"><b>Park project - Boechout</b></h5>
                            <img src="~/images/project-flea-market.jpg" style="width:100%">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:10%"></div>
                            </div>
                            <div>
                                <i class="far fa-heart"></i>
                                <i class="far fa-comments"></i>
                                <i class="fas fa-share-alt"></i>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card bg-dark text-white text-center">
                            <h5 class="text-center"><b>Park project - Deurne</b></h5>
                            <img src="~/images/project-flea-market.jpg" style="width:100%">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%"></div>
                            </div>
                            <div>
                                <i class="far fa-heart"></i>
                                <i class="far fa-comments"></i>
                                <i class="fas fa-share-alt"></i>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-info text-white text-center">
                            <h5 class="text-center"><b>Straat project - Berchem</b></h5>
                            <img src="~/images/project-flea-market.jpg" style="width:100%">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:20%"></div>
                            </div>
                            <div>
                                <i class="far fa-heart"></i>
                                <i class="far fa-comments"></i>
                                <i class="fas fa-share-alt"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="closed" class="container tab-pane fade">
                <div class="row">
                    <div class="column">
                        <h5 class="text-center"><b>Een park project</b></h5>
                        <img src="~/images/project-flea-market.jpg" style="width:100%">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
                        </div>
                        <div>
                            <i class="far fa-heart"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-share-alt"></i>


                        </div>
                    </div>
                    <div class="column">
                        <h5 class="text-center"><b>Een straat project</b></h5>
                        <img src="~/images/project-flea-market.jpg" style="width:100%">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
                        </div>
                        <div>
                            <i class="far fa-heart"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-share-alt"></i>


                        </div>
                    </div>
                    <div class="column">
                        <h5 class="text-center"><b>Een park project</b></h5>
                        <img src="~/images/project-flea-market.jpg" style="width:100%">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
                        </div>
                        <div>
                            <i class="far fa-heart"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-share-alt"></i>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <h5 class="text-center"><b>Een park project</b></h5>
                        <img src="~/images/project-flea-market.jpg" style="width:100%">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
                        </div>
                        <div>
                            <i class="far fa-heart"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-share-alt"></i>


                        </div>
                    </div>
                    <div class="column">
                        <h5 class="text-center"><b>Een straat project</b></h5>
                        <img src="~/images/project-flea-market.jpg" style="width:100%">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
                        </div>
                        <div>
                            <i class="far fa-heart"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-share-alt"></i>


                        </div>
                    </div>
                    <div class="column">
                        <h5 class="text-center"><b>Een park project</b></h5>
                        <img src="~/images/project-flea-market.jpg" style="width:100%">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%"></div>
                        </div>
                        <div>
                            <i class="far fa-heart"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-share-alt"></i>


                        </div>
                    </div>
                </div>
            </div>

            <div id="recent" class="container tab-pane fade">
                <div class="row">
                    <div class="column">
                        <h5 class="text-center"><b>Een gebouw project</b></h5>
                        <img src="~/images/project-flea-market.jpg" style="width:100%">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%"></div>
                        </div>
                        <div>
                            <i class="far fa-heart"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-share-alt"></i>


                        </div>
                    </div>
                    <div class="column">
                        <h5 class="text-center"><b>Een straat project</b></h5>
                        <img src="~/images/project-flea-market.jpg" style="width:100%">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%"></div>
                        </div>
                        <div>
                            <i class="far fa-heart"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-share-alt"></i>


                        </div>
                    </div>
                    <div class="column">
                        <h5 class="text-center"><b>Een park project</b></h5>
                        <img src="~/images/project-flea-market.jpg" style="width:100%">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%"></div>
                        </div>
                        <div>
                            <i class="far fa-heart"></i>
                            <i class="far fa-comments"></i>
                            <i class="fas fa-share-alt"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>