@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>

<body>
    <h2 class="text-center"><b>Project "xxxxxxxxxxx"</b></h2>

    <div class="container">
        <h2>Titel</h2>
        <form action="/action_page.php">
            <div class="form-group">
                <label for="centralevraag">Geef de centrale vraag in:</label>
                <input type="text" class="form-control" id="centralevraag" placeholder="vul in">
            </div>
            <div class="form-group">
                <label for="link">Geef een link naar meer achtergrondinfo:</label>
                <input type="text" class="form-control" id="link" placeholder="vul in">
            </div>
            <div class="form-group">
                <label for="dossier">Geef een korte omschrijving van het dossier:</label>
                <input type="text" class="form-control" id="omschrijving" placeholder="vul in">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>




</body>