@{
    ViewData["Title"] = "";
}


<body id="AboutPage">

<div class="py-2">
    <h1 class="text-center py-4">About</h1>
    <div id="explore-section" class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/perry-grone-732606-unsplash.jpg" style="width:100%; height:350px;">
            </div>
            <div class="col-md-6 center py-5">
                <h3 id="AboutTitle"><b>What</b> we do</h3>

                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end text-dark">
                        Since March 2019, we have been developing this platform with a lot of passion!
                    </div>
                </div>

                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end text-dark">
                        The platform keeps expanding and we add more projects everyday!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <section id="Recent" class="p-5">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="card bg-info text-white text-center">
                        <div class="card-body">
                            <i class="fas fa-share-alt fa-2x"></i>
                            <h3 class="text-light"><b>Share</b></h3>
                            Share your ideas with everyone.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark text-white text-center">
                        <div class="card-body">
                            <i class="fas fa-info fa-2x"></i>
                            <h3  class="text-light"><b>Connect</b></h3>
                            Log in to become a part of the platform
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-info text-white text-center">
                        <div class="card-body">
                            <i class="fas fa-info fa-2x"></i>
                            <h3  class="text-light"><b>Join</b></h3>
                            Join us at the projects and enjoy.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="py-5">
  <div id="explore-section" class="container">
    <div class="row">  
      <div class="col-md-6">
        <img src="~/images/aboutpage.jpg" style="width:100%; height:350px;">
      </div>
      <div class="col-md-6 center py-5">
          <h3 id="AboutTitle"><b>Why</b> we do it</h3>
        
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end text-dark">
            We at TreeCompany have created this platform so everybody can share their ideas!
          </div>
        </div>
            
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
            <div class="p-4 align-self-end text-dark">
                We hope this platform will make your life easier. 
            </div>
        </div>
      </div>
    </div>
  </div>
</div>








</body>