<h1>Confirm your email</h1>
<div>
    <p>
        Thank you for creating an account, to be able to log in with your account you will have to click the link in the email you just received.
    </p>
    <p>
        It might occur that you do not instantly receive your email but do not worry, it will come.
    </p>
</div>
