@using System.Security.Claims
@using DAL.EF
@using Microsoft.AspNetCore.Identity
@model ICollection<Domain.Faq>

@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="~/js/handleFaq.js"></script>

<body>
<div class="container">
<h1 class="text-center">Frequently asked questions</h1>
<!-- ACCORDION -->
<div class="py-5" id="accordion">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                   <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>How do i create an account?</b></h4>
                </div>
            </h5>
        </div>

        <div id="collapse1" class="collapse">
            <div class="card-body">
                By going to the register page and filling in your personal information!                      
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                    <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>Is there an app available in the App Store?</b></h4>
                </div>
            </h5>
        </div>

        <div id="collapse2" class="collapse">
            <div class="card-body">
                We're only available on the Android play store for now, but stay tuned!
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                                   <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>Do i have to create an account?</b></h4>
                    </div>
            </h5>
        </div>
        <div id="collapse3" class="collapse">
            <div class="card-body">
                You don't have to create an account on this website to be able to use our services. 
                To make it easier for the users we added external logins like Facebook and Google!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <div href="#collapse4" data-toggle="collapse" data-parent="#accordion">
                        
                    <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>Do i have to create an account?</b></h4>
                </div>
            </h5>
        </div>
        <div id="collapse4" class="collapse">
            <div class="card-body">
                You don't have to create an account on this website to be able to use our services. 
                To make it easier for the users we added external logins like Facebook and Google!
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <div href="#collapse5" data-toggle="collapse" data-parent="#accordion">
                            
                    <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>Do i have to create an account?</b></h4>
                </div>
            </h5>
        </div>
        <div id="collapse5" class="collapse">
            <div class="card-body">
                You don't have to create an account on this website to be able to use our services. 
                To make it easier for the users we added external logins like Facebook and Google!
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <div href="#collapse6" data-toggle="collapse" data-parent="#accordion">
                            
                    <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>Do i have to create an account?</b></h4>
                </div>
            </h5>
        </div>
        <div id="collapse6" class="collapse">
            <div class="card-body">
                You don't have to create an account on this website to be able to use our services. 
                To make it easier for the users we added external logins like Facebook and Google!
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <div href="#collapse7" data-toggle="collapse" data-parent="#accordion">
                            
                    <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>Do i have to create an account?</b></h4>
                </div>
            </h5>
        </div>
        <div id="collapse7" class="collapse">
            <div class="card-body">
                You don't have to create an account on this website to be able to use our services. 
                To make it easier for the users we added external logins like Facebook and Google!
            </div>
        </div>
    </div>
         <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <div href="#collapse8" data-toggle="collapse" data-parent="#accordion">
                            
                            <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>Do i have to create an account?</b></h4>
                        </div>
                    </h5>
                </div>
                <div id="collapse8" class="collapse">
                    <div class="card-body">
                        You don't have to create an account on this website to be able to use our services. 
                        To make it easier for the users we added external logins like Facebook and Google!
                    </div>
                </div>
            </div>
</div>
        </div>
</body>