@{
    ViewData["Title"] = "";
}


<body>
<div class="container">
<h2 class="text-center">Privacy Policy</h2>
<!-- ACCORDION -->
          <div class="py-5" id="accordion">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                    <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>Data Protection</b></h4>
                    
                  </div>
                </h5>
              </div>

              <div id="collapse1" class="collapse">
                <div class="card-body">
                  EU data protection rules, also known as the EU General Data Protection Regulation (or GDPR), describe different situations where a company or an organisation is allowed to collect or reuse your personal information:
                  
                  they have a contract with you – for example, a contract to supply goods or services (i.e. when you buy something online), or an employee contract
                  they are complying with a legal obligation – for example, when processing your data is a legal requirement, for example when your employer gives information on your monthly salary to the social security authority, so that you have social security cover
                  when data processing is in your vital interests – for example, when this might protect your life
                  to complete a public task – mostly relating to the tasks of public administrations such as schools, hospitals, and municipalities
                  when there are legitimate interests – for example, if your bank uses your personal data to check whether you'd be eligible for a savings account with a higher interest rate
                  In all other situations, the company or organisation must ask for your agreement (known as "consent") before they can collect or reuse your personal data.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                    <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>Account privacy</b></h4>
                  </div>
                </h5>
              </div>

              <div id="collapse2" class="collapse">
                <div class="card-body">
                  If your personal information is stolen, lost or illegally accessed – known as a 'personal data breach' – the data controller (the person or body handling your personal data) must report it to the national data protection authority. The data controller must also inform you directly if there are serious risks related to your personal data or privacy due to the breach.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">

                    <h4> <i class="fas fa-arrow-circle-down lg"></i> <b>Cookies</b></h4>

                  </div>
                </h5>
              </div>

              <div id="collapse3" class="collapse">
                <div class="card-body">
                  Cookies are small text files that a website asks your browser to store on your computer or mobile device. Cookies are widely used to make websites work more efficiently by saving your preferences. They are also used to follow your internet use as you browse, make user profiles and then display targeted online advertising based on your preferences.
                  
                  Any website wishing to use cookies has to obtain your consent before installing a cookie on your computer or mobile device. A website is not allowed to simply inform you that they use cookies, or explain how you can deactivate them.
                  
                  Websites should explain how the cookie information will be used. You should also be able to withdraw your consent. If you choose to do so, the website still has to provide some sort of minimum service for you, for example, providing access to a part of the website.
                </div>
              </div>
            </div>
          </div>
        </div>
</body>