@{
    ViewData["Title"] = "Admin page";
}





<body>

    <!-- POSTS -->
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card bg-dark">
                        <div class="card-header">
                            <h4 class="text-white">Admin Settings</h4>
                        </div>
                        <table class="table text-white">
                            <tbody>
                                                
                <div class="col-md-4 py-2" id="bodyadmin">
                    <div class="card text-center bg-primary text-white mb-3">
                        <div class="card-body">
                            <h3>Manage admins</h3>
                            <h4 class="display-4">
                                <i class="fas fa-pencil-alt"></i> 
                            </h4>
                             @if (User.IsInRole("SuperAdmin"))
                                            {
                                                <button class="btn btn-default"><a asp-controller="Admin" asp-action="ManageAdmins">View</a></button>
                                            }
                             
                        </div>
                    </div>

                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3>Manage moderators</h3>
                            <h4 class="display-4">
                                <i class="fas fa-folder"></i>
                            </h4>
                            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                            {
                                <button class="btn btn-default"><a asp-controller="Admin" asp-action="ManageModerators">View</a></button>
                            }

                        </div>
                    </div>
                </div>
                                    
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
   
</body>


