@page
@{
    ViewData["Title"] = "Blocked";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been blocked due to a moderator blocking you because of a report one of your posts received.</p>
    <p class="text-danger">This can occur when you used offensive / inappropriate / ... language in your post or reaction.</p>
</header>
