@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<body id="ConfirmPage">

<div>
    <h3 class="text-dark">
        Thank you for confirming your email.
    </h3>
    
</div>
</body>