@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<body id=forgotPasswordPage>

<div class="row center-block">

    <div class="dark-overlay">
        <div class="container">

            <div class="col-lg-4">
                <div class="card bg-light text-center card-form">
                    <div class="card-body">
                        <h3><b>Forgot Your password?</b></h3>
                        <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group text-dark">
                            <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}

</body>