@model IEnumerable<UI.MVC.Models.Ideas.ImageFieldViewModel>

<div class="container">
    <h2>Image List</h2>
    @foreach (var item in Model)
    {
      @*  var base64 = Convert.ToBase64String(item.);
        var imageData = String.Format("data:image/png;base64,{0}", base64); *@
      
        <tr>
            <td>@item.imageName</td>
         
            <td>
                <img src=@item.GetImageData() />
            </td>
        </tr>
      
      
      

      
    }
   
   
</div>