@model D.UI.MVC.Models.Fields.ImageFieldVm
<div>
    <!--<label>Image:</label>-->
    @*   <input id="image" name="image" type="file"/> #pogin 1
        @Html.TextBoxFor(m => m.file, new {type = "file"})#poging 2
        <input type="file" id="imageFile" name="imageFile" value="ActionHandlerForForm"/> #poging3          *@
    <input asp-for="imageName" type="hidden" class="form-control" value="test" />
    <input asp-for="imageFile" type="file"
           class="form-control"
           onchange="readImage(this)"
           multiple
           accept="image/*">
    <img id="image_preview" src="#" alt="your image" width="200" height="200" hidden="" />




</div>


<script type="text/javascript">        
    function readImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#image_preview').attr('src', e.target.result);
                $('#image_preview').attr('hidden', false);

            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


@*
@model D.UI.MVC.Models.Ideas.ImageFieldViewModel
<div>
    <label>Image:</label>
    $1$   <input id="image" name="image" type="file"/> #pogin 1
    @Html.TextBoxFor(m => m.file, new {type = "file"})#poging 2 
    <input type="file" id="imageFile" name="imageFile" value="ActionHandlerForForm"/> #poging3          #1#
    <input asp-for="imageName" type="hidden" class="form-control" value="test"/>
    <input asp-for="imageFile" type="file" class="form-control"  multiple  >
    

    
</div>*@
