@using Domain
@model D.UI.MVC.Models.Fields.MapFieldVm

@if (ViewBag.index == 0)
{
    <fieldset>  
        <meta charset="utf-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="~/css/maps2.css"> 
        <script src="@Url.Content("~/js/MapEditor.js")"></script>


       
  
      
        <div class="row">
        <div class="card bg-light text-center card-form">
        <div class="card-body" id="card">
        
        <input id="pac-input" class="controls py-2" type="text" placeholder="Search Box">
            <input id="search-Button" type="button" class="btn btn-success btn-sm" value="Add"/>
            <table>
                <tr>
                    <td>
                        <div id="map" style="height: 360px; width: 600px;"> </div> </td>
<div class="col-md-4">
<td>
    <div id="locationRows">
        <hr/>
    </div>
    <hr/>
</td>
</div>
                </tr>
            </table>
        </div>
        </div>

      </div>
      
      
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpGkcxEKiXUYAvr2HPj9bhYvs0uZsllW4&libraries=places&callback=initAutocomplete"
                async defer></script>
    
    </fieldset> 
}

<div class="location">
    <input  asp-for="Latitude" type="hidden" itemtype="double"  />
    <input asp-for="Longitude" type="hidden" />
</div>




