    @model D.UI.MVC.Models.Fields.QuestionFieldVm




@if (ViewBag.index == 1)
{
    <link rel="stylesheet" href="~/css/QuestionSliders.css"> 

    <div id="template">

     
            
                    <a hidden="true" class="prevQuestion" onclick="ChangeQuestion(-1)">&#10094;</a>
                    <a hidden="true" class="nextQuestion" onclick="ChangeQuestion(1)">&#10095;</a>

                                
        <h3 id="questionTitle">Question 1</h3>
       
        <h5>What do you want to ask?</h5>
        <input type="text" id="question"/>
        <br>
        <h5>What type of a question is this?</h5>
        <fieldset id="questionFieldset">
            <input type="radio" name="questionFieldset" id="questionType 1" value="radiobutton" checked/>
            <span>Radio buttons</span><br>
            <input type="radio" name="questionFieldset" id="questionType 2" value="checkbox"/>
            <span>Check boxes</span><br>
        </fieldset>
        <div>
            <button id="Add_Option" class="btn btn-success" onclick="AddOption()" type="Button">Add option</button>
            <button id="Remove_Option" class="btn btn-success" onclick="RemoveOption()" type="Button" disabled="true">Remove option</button>            
        </div>
        <label id="label 1"> Option: 1</label>
        <div class="option"> <input id="option 1" type="text"/> </div>
        <label id="label 2"> Option: 2</label>
        <div class="option"> <input id="option 2" type="text"/> </div>
        <label id="label 3" hidden="true"> Option: 3</label>
        <div class="option" > <input id="option 3" type="text" hidden="true"/> </div>
        <label id="label 4" hidden="true"> Option: 4</label>
        <div class="option" > <input id="option 4" type="text" hidden="true"/> </div>
        <label id="label 5" hidden="true"> Option: 5</label>
        <div class="option"> <input id="option 5" type="text" hidden="true"/> </div>
        
        <div class="py-2">
            <button class="btn btn-success" id="Add_Question" type="button" hidden="true"  onclick="AddQuestion()">Add Question</button>
            <button class="btn btn-success" id="Remove_Question" type="button" hidden="true" onclick="RemoveQuestion()">Remove Question</button>

        </div>
        
  
    </div>
  
    <script src="@Url.Content("~/js/QuestionFieldEditor.js")"></script>

}

    <div class="question" id="question @ViewBag.index">

        <input asp-for="QuestionText" type="text" hidden="true"/>
        <input asp-for="QuestionType" type="text" hidden="true"/>
        <input asp-for="Options[0]" type="text"  hidden="true"/>
        <input asp-for="Options[1]" type="text"  hidden="true"/>
        <input asp-for="Options[2]" type="text"  hidden="true"/>
        <input asp-for="Options[3]" type="text"  hidden="true"/>
        <input asp-for="Options[4]" type="text"  hidden="true"/>


    </div>

   


