@model D.UI.MVC.Models.Fields.QuestionFieldVm

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/js/dynamicFormIdea.js" asp-append-version="true"></script>

@using (Html.BeginForm("CreateQuestion", "Idea", FormMethod.Post))
{
    <h5>What do you want to ask?</h5>
    <input type="text" name="question"/>
    <br>
    <h5>What type of a question is this?</h5>
    <fieldset id="questionFieldset">
        <input type="radio" name="questionFieldset" value="radiobutton" checked/>
        <span>Radio buttons</span><br>
        <input type="radio" name="questionFieldset" value="checkbox"/>
        <span>Check boxes</span><br>
    </fieldset>
    <button type="button" id="btnAddOption">Add option</button>
    @Html.AntiForgeryToken()
    <div id="options"></div>
    <div class="form-group">
        <input type="submit" value="Create new question" class="btn btn-default"/>
    </div>
}