@model D.UI.MVC.Models.Fields.TextFieldVm

<div class="py-2">
    @*<label>Text:</label>*@
    <input asp-for="text" type="text"/>
    @*@Html.TextAreaFor(x => x.text) 
    $1$
    <input asp-for="text" type="text"/>
    #1#*@
    
</div>

