@model D.UI.MVC.Models.Fields.VideoFieldVm



    @if (ViewBag.index == 0)
    {

        <link rel="stylesheet" href="~/css/VideoSlideShow.css"> 

        <input class="VideoUpload" asp-for=@Model.VideoFile.Files[0] type="file"  accept="video/*"  onchange="readVideo(this)" />

    }
    else
    {
        <input class="VideoUpload" asp-for=@Model.VideoFile.Files[0] type="file" accept="video/*" onchange="readVideo(this)" hidden="true" />
    }
   




    
    @if (ViewBag.index == 0)
    {
        <div id="VideoSlideshow" class="videoslideshow-container">

          

            <!-- Next and previous buttons -->
            <div id="videosliders" hidden="true">
                <a class="prevVid" onclick="plusVideos(-1)">&#10094;</a>
                <a class="nextVid" onclick="plusVideos(1)">&#10095;</a>
            </div>
        </div>






        <!-- The dots/circles -->
        <div id="videodots" style="text-align: center" hidden="true">
            @*<span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>*@
        </div>
        <button type="button" id="removeVid" onclick="ClearVideo()" hidden="true"> Remove</button>
        
        <script src="@Url.Content("~/js/VideoFieldEditor.js")"></script>




    }




