@using DAL.EF
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><p><i class="far fa-user"></i><b> @User.Identity.Name</b></p></a>
    </li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
           
            <button class="btn btn-outline-success" type="submit"><b>Logout</b></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><p class="text-dark"><i class="far fa-user"></i><b> Register</b></p></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><p class="text-dark"><i class="far fa-user"></i><b> Log in</b></p></a>
    </li>
}