<h1>Questionnaire answers confirmed!</h1>
<div>
    <p>
        Thank you for conforming your questionnaire answers!
    </p>
    <p>
        Feel free to create an account and look around
    </p>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><p><b> Register</b></p></a>
</div>
